<div class="">
	<form class="row" name="Search">
		<div class="col-sm-5">
			<p>Eng: <input type="text" name="eng"></p>
		</div>
		<div class="col-sm-5">
			<p>Rus: <input type="text" name="rus"></p>
		</div>
		<div class="col-sm-2">
			<p onclick="search_word()">Поиск</p>
		</div>
	</form>
</div>
<hr>
<div class="row">
	<div class="col-sm-2">
		<p>id</p>
	</div>
	<div class="col-sm-2">
		<p>Словарь</p>
	</div>
	<div class="col-sm-4">
		<p>Eng</p>
	</div>
	<div class="col-sm-4">
		<p>Rus</p>
	</div>
</div>
<hr>
<div id="words"></div>